body {
    background-color: rgb(23, 27, 49);
    margin: 0px
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
p{
    text-align: center;
    color:white;

}
.navbar ul{
    list-style-type: none;
    background-color: rgb(36, 36, 36);
    padding: 5px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    font-family:"Ink Free" , "Sans-serif";
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: left;
}
.navbar a:hover{
    background-color: rgb(15, 15, 15);

}
.navbar li{
    float: left;
}
